body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    color: #f0f0f0;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #444;
    color: #f0f0f0;
}

button {
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ffaa00;
    transform: scale(1.05);
}

div {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s;
    margin-top: 20px;
}

div:hover {
    transform: scale(1.02);
}

h1 {
    margin: 0;
    font-size: 50px;
    color: #ffcc00;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #ffcc00;
}

p, div#types div {
    margin: 5px 0;
    font-size: 18px;
}

#sprite {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    animation: fadeIn 0.5s ease-in-out;
}

#types {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#types div {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffcc00;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
